.container {
    margin-top: 1rem;
}
body > div > div.row.header > div.col-md-6.text-right > input {
    border-style: none none solid;  /* (верхняя граница) (левая и правая граница) (нижняя граница) */ 
    border-color: #333333 #333333 #333333;  /* (верхняя граница) (левая и правая граница) (нижняя граница) */ 
    border-width: 1px;  /* одновременно для четырёх границ элемента */ 
    width: 20rem;
    font-size: 16px;
    margin-top: 8px;
}
body > div > div.row.header > div.col-md-6.text-right > button {
    border: none;
    background-color: white;
    color: #E5261E;
    font-family: Rubik;
    font-style: Medium;
    font-size: 19px;
    line-height: 19px;

}

body > div > div.row.header > div.col-md-3.text-right > button {
    background-color: #E5261E;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    width: 113px;
    height: 38px;
}